        /* Estilos básicos */
        body, html {
          margin: 0;
          padding: 0;
          font-family: Arial, sans-serif;
          height: 100%;
        }
    
        /* Flexbox para layout principal */
        .container {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
    
        header, footer {
          background-color: #2F529E;
          color: #fff;
          padding: 1em;
          text-align: center;
        }
    
        .content {
          display: flex;
          flex-direction: row-reverse;
          flex: 1;
        }
    
        /* Coluna principal e lateral */
        .main {
          flex: 3;
          padding: 20px;
        }
    
        .sidebar {
          flex: 1;
          background-color: #fff;
          padding: 20px;
        }

        .menu-lateral{
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                width: 150px;            
                }    
            ul li {
                position: relative;
                }    
            li ul {
                position: absolute;
                left: 149px;
                top: 0;
                display: none;
                }
            ul li a {    
                display: block;
                text-decoration: none;
                color: #E2144A;
                background: #fff;
                padding: 5px;
                border: 1px solid #ccc;
                }    
            li:hover ul { display: block; }
        }